h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: cyan;
    font-weight: bold;
}
div {
    margin: 30px;
    padding: 20px;
    border: 2px solid black;
}